body{
    font-family: 'Open Sans', sans-serif;
}
.beautiful-flowers-container{
    background-color: rgba(229, 84, 115, 0.10);
    display: flex;
    padding: 0 150px;
    height: 550px;
}
.flowers{
    padding: 80px 140px 0 0;
    gap: 97px;
    display: inline;
    text-align: left;
}
.flower-h1{
    color: #272727;
    font-family: Lato;
    font-size: 50px;
}
.flower-p{
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 14px;
    padding-bottom: 20px;
}
.flower-image{
    padding-top: 50px;
    width: 435px;
    height: 500px;
    
}
.btn-color{
    color: white;
    background-color: #E55473;
    padding: 15px 43px;
    border-radius: 7px;
    border-color: #E55473;
}

/* main section one start */
.featured-flowers{
    background: #FFF;
    padding: 100px;
}
.featured-h2{
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
    padding-bottom: 20px;
}
.featured-p{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 20px;
}
.featured-flowers-container{
    display: flex;
}
.flower{ 
    text-align: center;
    padding-left: 24px;
    gap: 24px;
}
.picture-1{
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    width: 210px;
    height: 328px;
    padding: 70px 50px 0 50px;
    margin-left: 54px;
}
.picture-2{
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    width: 210px;
    height: 328px;
    padding: 70px 50px 0 50px;
}
.picture-3{
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    width: 210px;
    height: 328px;
    padding: 70px 50px 0 50px;
}
.pink-p{
    color: #272727;
    font-family: Lato;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
}
/* main section one end */
/* bonus section */
.about{
    background-color: #ecd6df;
    padding: 0 140px;
}
.section-h3{
    color: #272727;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 40px;
    margin: 0;
    font-family: Lato;
    font-size: 40px;
    font-weight: 600;
}
.section-p{
    color: #757575;
    text-align: center;
    font-size: 18px;
    font-family: Open Sans;
    padding-bottom: 80px;
    padding-right: 100px;
}
.info-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.info{
    text-align: center;
    padding-bottom: 40px;
    width: 200px;
    height: 300px;
} 
.info-description{
    color: #757575;
}
.info-p{
    color: #272727;
}
.picture{
    height: 25px;
    width: 25px;
}
/* bonus section */